<!DOCTYPE html>
<html lang="en">

<head>
    <title>Python Flask Timeline app</title>
    <link href="..\static\css\timeline.css" rel="stylesheet">
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet">
    <link href="..\static\css\bootstrap-datetimepicker.min.css" rel="stylesheet">
    <link href="..\static\css\simple-sidebar.css" rel="stylesheet">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <script src="..\static\js\moment-with-locales.js"></script>
    <script src="..\static\js\bootstrap-datetimepicker.min.js"></script>
</head>

<body>
<div class="jumbotron">
    <h1>ERROR</h1>
    {{ error }}
</div>
</body>